@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Red+Rose&family=Space+Grotesk:wght@500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  background-color: #101010;
}

header {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 30px;
  position: absolute;
}
@media (min-width: 320px) and (max-width: 1024px) {
  header {
    background-color: #161616;
    z-index: 999999;
  }
}
header #logo,
header #menu_box_logo {
  z-index: 9999999;
}
header i {
  font-size: 30px;
  transition: 0.5s;
}
header #menu_page {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100vh;
  background-color: rgb(16, 16, 16);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 99999;
}
header #menu_page span {
  color: #ffffff;
  font-family: "Red Rose", serif;
  font-size: 52px;
  font-weight: 400;
  letter-spacing: -0.3px;
  cursor: pointer;
  transition: 0.4s;
}
header #menu_page span:hover {
  color: #f36b3a;
}

#main_banner_container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: rgb(16, 16, 16);
}
#main_banner_container #man_box {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: man 0.8s ease-in-out forwards;
}
@media (min-width: 320px) and (max-width: 520px) {
  #main_banner_container #man_box {
    height: 50vh;
  }
}
#main_banner_container #man_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@keyframes man {
  from {
    transform: translateY(-200vh);
  }
  to {
    transform: translateY(0);
  }
}
#main_banner_container #chain_box {
  width: 50%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: chain 0.8s ease-in-out forwards;
}
@media (min-width: 320px) and (max-width: 520px) {
  #main_banner_container #chain_box {
    height: 50vh;
  }
}
#main_banner_container #chain_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@keyframes chain {
  from {
    transform: translateY(200vh);
  }
  to {
    transform: translateY(0);
  }
}
#main_banner_container #info_box {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
#main_banner_container #info_box #main_banner_title {
  animation: main_banner_title 0.8s ease-in-out forwards;
}
@keyframes main_banner_title {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
#main_banner_container #info_box #main_banner_title span {
  font-family: "DM Sans", sans-serif;
  color: white;
  font-weight: 400;
  font-size: 22px;
}
#main_banner_container #info_box #main_banner_info {
  animation: main_banner_info 0.8s ease-in-out forwards;
}
@keyframes main_banner_info {
  from {
    opacity: 0;
    transform: translateX(-300px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
#main_banner_container #info_box #main_banner_info p {
  font-family: "Red Rose";
  letter-spacing: -1px;
  font-weight: 400;
  font-size: 75px;
  color: white;
  max-width: 456px;
  text-align: center;
}
@media (min-width: 320px) and (max-width: 520px) {
  #main_banner_container #info_box #main_banner_info p {
    font-size: 30px;
  }
}

#bicycle_container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(./assets/background/home-section-background-1.jpg);
  background-size: cover;
  background-position: center;
  flex-direction: column;
  padding: 60px 10px;
}
#bicycle_container #bicycle_img {
  width: 100%;
}
#bicycle_container #bicycle_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#bicycle_container #info_container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
#bicycle_container #info_container #title_box span {
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
}
#bicycle_container #info_container #info_box {
  width: 100%;
}
#bicycle_container #info_container #info_box p {
  color: #ffffff;
  font-family: "Red Rose", sans-serif;
  font-size: 42px;
  font-weight: 400;
  letter-spacing: -0.3px;
}

#bike_part_container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background-color: rgb(16, 16, 16);
}
@media (min-width: 320px) and (max-width: 768px) {
  #bike_part_container {
    flex-direction: column;
  }
}
#bike_part_container > div {
  width: 50%;
  height: 889px;
  background-color: rgb(16, 16, 16);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (min-width: 320px) and (max-width: 768px) {
  #bike_part_container > div {
    width: 100%;
  }
}
#bike_part_container > div h1 {
  color: #ffffff;
  font-family: "Red Rose", sans-serif;
  font-size: 43px;
  font-weight: 400;
  letter-spacing: -0.2px;
  text-align: center;
}
#bike_part_container > div span {
  color: white;
  font-family: "Space Grotesk";
  font-size: 21px;
  font-weight: 500;
  text-transform: uppercase;
  font-style: normal;
  transition: 0.4s;
}
#bike_part_container > div span > div {
  margin: 20px 10px;
}
#bike_part_container > div #info_box {
  display: flex;
  align-items: center;
  justify-content: center;
}
#bike_part_container > div #info_box a {
  color: white;
  transition: 0.4s;
}
#bike_part_container > div #info_box:hover a,
#bike_part_container > div #info_box:hover span {
  color: rgb(243, 107, 58);
}
#bike_part_container > div #info_box > div {
  margin: 20px;
}
@media (min-width: 520px) and (max-width: 768px) {
  #bike_part_container > div #info_box > div {
    margin: 0;
  }
}
#bike_part_container #background_box {
  margin: 0;
  overflow: hidden;
}
#bike_part_container #background_box img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.5s;
}
#bike_part_container #background_box img:hover {
  transform: scale(1.4);
}

#paralax_container {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: url(./assets/background/home-parallax.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding: 200px 80px;
}
#paralax_container #info_box {
  width: auto;
  height: auto;
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
}
#paralax_container #info_box span {
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: 400;
}
#paralax_container #info_box p {
  color: #ffffff;
  font-family: "Red Rose", sans-serif;
  font-size: 43px;
  font-weight: 400;
  letter-spacing: -0.2px;
  max-width: 580px;
}
#paralax_container #info_box .info_box {
  display: flex;
  align-items: center;
  justify-content: center;
}
#paralax_container #info_box .info_box > div {
  margin: 0 5px;
}
#paralax_container #info_box .info_box:hover a,
#paralax_container #info_box .info_box:hover h1 {
  color: rgb(243, 107, 58);
}
#paralax_container #info_box .info_box h1 {
  color: rgb(255, 255, 255);
  font-family: "Space Grotesk";
  font-size: 21px;
  font-weight: 500;
  text-transform: uppercase;
  font-style: normal;
  transition: 0.5s;
}
#paralax_container #info_box .info_box a {
  color: white;
  transition: 0.5s;
}

footer {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #101010;
}
footer .info_box {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 5px;
  background-color: #F36B3A;
  text-align: center;
}
footer .info_box h1 {
  color: #ffffff;
  font-family: "Red Rose", sans-serif;
  font-size: 43px;
  font-weight: 400;
  letter-spacing: -0.2px;
}
footer #footer_box {
  width: 100%;
  height: auto;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#scroll_box {
  position: fixed;
  bottom: 10px;
  right: 10px;
  border: 1px solid rgb(243, 107, 58);
  transition: 0.5s;
  z-index: 9999999999;
}
#scroll_box:hover {
  background-color: rgb(243, 107, 58);
}
#scroll_box i {
  color: rgb(243, 107, 58);
  transition: 0.4s;
  padding: 25px;
}
#scroll_box i:hover {
  color: white;
}/*# sourceMappingURL=style.css.map */