@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Red+Rose&family=Space+Grotesk:wght@500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    scroll-behavior: smooth;
    background-color: #101010;


}

// div {
//     border: 1px solid red;
// }
header {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 30px;
    position: absolute;

    @media (min-width:320px) and (max-width:1024px) {
        background-color: #161616;
        z-index: 999999;
    }

    #logo,
    #menu_box_logo {
        z-index: 9999999;
    }

    i {
        font-size: 30px;
        transition: .5s;

    }

    #menu_page {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(16, 16, 16, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        z-index: 99999;

        span {
            color: #ffffff;
            font-family: 'Red Rose', serif;
            font-size: 52px;
            font-weight: 400;
            letter-spacing: -0.3px;
            cursor: pointer;
            transition: .4s;


            &:hover {
                color: #f36b3a;
            }
        }

    }
}



#main_banner_container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background-color: rgba(16, 16, 16, 1);

    #man_box {
        width: 50%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: man .8s ease-in-out forwards;

        @media (min-width:320px) and (max-width:520px) {
            height: 50vh;

        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @keyframes man {
            from {
                transform: translateY(-200vh);
            }

            to {
                transform: translateY(0);
            }
        }
    }

    #chain_box {
        width: 50%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        animation: chain .8s ease-in-out forwards;

        @media (min-width:320px) and (max-width:520px) {
            height: 50vh;

        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        @keyframes chain {
            from {
                transform: translateY(200vh);
            }

            to {
                transform: translateY(0);
            }
        }
    }

    #info_box {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        #main_banner_title {
            animation: main_banner_title .8s ease-in-out forwards;

            @keyframes main_banner_title {
                from {
                    opacity: 0;
                    transform: translateX(300px);
                }

                to {
                    opacity: 1;
                    transform: translateX(0);
                }
            }

            span {
                font-family: 'DM Sans', sans-serif;
                color: white;
                font-weight: 400;
                font-size: 22px;


            }
        }

        #main_banner_info {
            animation: main_banner_info .8s ease-in-out forwards;

            @keyframes main_banner_info {
                from {
                    opacity: 0;
                    transform: translateX(-300px);
                }

                to {
                    opacity: 1;
                    transform: translateX(0);
                }
            }

            p {
                font-family: "Red Rose";
                letter-spacing: -1px;
                font-weight: 400;
                font-size: 75px;
                color: white;
                max-width: 456px;
                text-align: center;

                @media (min-width:320px) and (max-width:520px) {
                    font-size: 30px;

                }
            }
        }
    }

}

#bicycle_container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./assets/background/home-section-background-1.jpg);
    background-size: cover;
    background-position: center;
    flex-direction: column;
    padding: 60px 10px;



    #bicycle_img {
        width: 100%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    #info_container {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: flex-start;

        #title_box {
            span {
                color: #ffffff;
                font-family: 'DM Sans', sans-serif;
                font-size: 22px;
                font-weight: 400;
            }
        }

        #info_box {
            width: 100%;

            p {
                color: #ffffff;
                font-family: 'Red Rose', sans-serif;
                font-size: 42px;
                font-weight: 400;
                letter-spacing: -0.3px;


            }
        }
    }
}

#bike_part_container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    background-color: rgba(16, 16, 16, 1);

    @media (min-width:320px) and (max-width:768px) {
        flex-direction: column;
    }

    &>div {
        width: 50%;
        height: 889px;
        background-color: rgba(16, 16, 16, 1);
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        @media (min-width:320px) and (max-width:768px) {
            width: 100%;
        }






        h1 {
            color: #ffffff;
            font-family: 'Red Rose', sans-serif;
            font-size: 43px;
            font-weight: 400;
            letter-spacing: -0.2px;
            text-align: center;
        }

        span {
            color: white;
            font-family: "Space Grotesk";
            font-size: 21px;
            font-weight: 500;
            text-transform: uppercase;
            font-style: normal;
            transition: .4s;








            &>div {
                margin: 20px 10px;


            }

        }

        #info_box {
            display: flex;
            align-items: center;
            justify-content: center;

            a {
                color: white;
                transition: .4s;
            }

            &:hover {

                a,
                span {
                    color: rgb(243, 107, 58);
                }

            }

            &>div {
                margin: 20px;

                @media (min-width:520px) and (max-width:768px) {
                    margin: 0;
                }


            }
        }
    }

    #background_box {
        margin: 0;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: .5s;

            &:hover {
                transform: scale(1.4);
            }

        }
    }
}

#paralax_container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background: url(./assets/background/home-parallax.jpg);
    background-size: cover;
    background-attachment: fixed;
    padding: 200px 80px;

    #info_box {
        width: auto;
        height: auto;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;

        span {
            color: #ffffff;
            font-family: 'DM Sans', sans-serif;
            font-size: 22px;
            font-weight: 400;
        }

        p {
            color: #ffffff;
            font-family: 'Red Rose', sans-serif;
            font-size: 43px;
            font-weight: 400;
            letter-spacing: -0.2px;
            max-width: 580px;
        }




        .info_box {
            display: flex;
            align-items: center;
            justify-content: center;

            &>div {
                margin: 0 5px;
            }

            &:hover {

                a,
                h1 {
                    color: rgb(243, 107, 58);
                }

            }

            h1 {
                color: rgb(255, 255, 255);
                font-family: "Space Grotesk";
                font-size: 21px;
                font-weight: 500;
                text-transform: uppercase;
                font-style: normal;
                transition: .5s;
            }

            a {
                color: white;
                transition: .5s;
            }
        }
    }
}

footer {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #101010;

    .info_box {
        width: 100%;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 50px 5px;
        background-color: #F36B3A;
        text-align: center;

        h1 {
            color: #ffffff;
            font-family: 'Red Rose', sans-serif;
            font-size: 43px;
            font-weight: 400;
            letter-spacing: -0.2px;
        }
    }
    #footer_box {
        width: 100%;
        height: auto;
        padding: 30px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}








#scroll_box {
    position: fixed;
    bottom: 10px;
    right: 10px;
    border: 1px solid rgba(243, 107, 58, 1);
    transition: .5s;
    z-index: 9999999999;

    &:hover {
        background-color: rgba(243, 107, 58, 1);
    }

    i {
        color: rgba(243, 107, 58, 1);
        transition: .4s;
        padding: 25px;

        &:hover {
            color: white;

        }
    }
}